/* =================================
------------------------------------
  Mondy - Real Estate HTML Template
  Version: 1.0
 ------------------------------------
 ====================================*/

/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/



h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 700;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	color: #6a6a6a;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
Helper CSS
 -----------------------*/


/*------------------
Header section
 ---------------------*/

.header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
}

.header-section.header-bg-2 {
	background: rgba(34, 34, 34, 0.83);
}

.header-nav {
	text-align: right;
	padding-top: 35px;
}

.site-logo {
	float: left;
	display: inline-block;
	padding: 39px 0;
}

.main-menu {
	display: inline-block;
	padding-right: 30px;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: block;
	font-size: 16px;
	color: white;
	font-family: "Lato", sans-serif;
	padding: 0 1px 5px;
	border-bottom: 2px solid transparent;
	margin-right: 45px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}


.main-menu li:hover>.sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 20px;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	text-align: left;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
}

.main-menu .sub-menu::before {
	position: absolute;
	content: "";
	left: 15px;
	top: -7px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 7px solid #fff;
}

.main-menu .sub-menu:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 20px;
	left: 0;
	top: -20px;
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 5px 20px;
	border-bottom: none;
}

.main-menu .sub-menu li a:hover {
	color: #ff000a;
}

.header-right {
	display: inline-block;
}

.header-right a {
	color: white;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	display: inline-block;
}

.header-right .register {
	border: 2px solid white;
	min-width: 130px;
	text-align: center;
	padding: 8px 15px;
	margin-left: 25px;
}

.slicknav_menu {
	display: none;
}

/* ----------------
Footer section
 -------------------*/


/* ----------------
Other Pages
 -------------------*/


/* ----------------
About page
 -------------------*/


/* ----------------
Responsive
 ---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-title h2,
	.about-text h2 {
		font-size: 65px;
	}
	.main-menu li a {
		margin-right: 20px;
	}
	.about-widget {
		margin-right: 15px;
	}
	.search-result-map {
		height: 600px;
	}
	.search-results {
		padding: 55px 30px 90px;
	}
	.offer-btn {
		min-width: 205px;
	}
	.contact-text {
		padding-right: 40px;
	}
	.blog-item.feature-blog .blog-text {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.blog-item.feature-blog h4 {
		margin-bottom: 15px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		padding: 0 15px;
	}
	.main-menu {
		padding-right: 15px;
	}
	.main-menu li a {
		margin-right: 15px;
	}
	.header-right .register {
		min-width: 110px;
		margin-left: 10px;
	}
	.about-text {
		margin-top: 40px;
	}
	.hero-warp {
		padding: 25px 30px 29px;
	}
	.search-type label {
		margin-right: 5px;
	}
	.search-type .st-item input:checked+label {
		padding: 11px 15px;
	}
	.section-title h2,
	.about-text h2 {
		font-size: 55px;
	}
	.loan-form {
		display: block;
		text-align: center;
		padding: 0 50px;
	}
	.loan-form input {
		margin-bottom: 30px;
	}
	.about-widget {
		border-right: none;
	}
	.about-widget .aw-text {
		max-width: 100%;
	}
	.footer-widger h2 {
		padding-top: 0;
	}
	.page-top-section {
		height: auto;
		padding-bottom: 80px;
	}
	.sell-section {
		padding: 0 20px;
	}
	.search-result-map {
		height: 600px;
	}
	.sidebar {
		padding-top: 50px;
	}
	.contact-text {
		padding-right: 0;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		padding: 0 ;
	}
	.site-logo {
		padding: 26px 0;
	}
	.header-nav {
		display: none;
	}
	.slicknav_menu {
		padding: 0.75em;
		display: block;
		background: #30627e;
	}
	.slicknav_menu .header-right-warp {
		padding: 10px 0;
		padding-right: 10px;
		border-bottom: 2px solid #30627e;
		text-align: right;
	}
	.slicknav_menu .header-right .login {
		border-bottom: none;
	}
	.slicknav_menu .header-right .register {
		margin-left: 0;
	}
	.slicknav_menu .header-right a:hover {
		background: transparent;
		color: #fff;
	}
	.slicknav_btn {
		background: #30627e;
		margin-top: 15px;
		opacity: 90%;
	}
	.slicknav_nav {
		background: #30627e;
		margin-bottom: 30px;
		opacity: 90%;
	}
	.slicknav_nav a {
		margin: 0;
		padding: 10px 20px;
		border-bottom: 2px solid #30627e;
	}
	.slicknav_nav a:hover {
		color: white;
		border-radius: 0;
		background: #e52364;
	}
	.slicknav_nav .slicknav_row {
		padding: 10px 20px;
		margin: 0;
	}
	.slicknav_row a {
		border-bottom: none;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #e52364;
	}
	.slicknav_parent.slicknav_open {
		background: #30627e;
		color: #ff000a;
	}
	.hero-section {
		height: auto;
		padding-top: 250px;
		padding-bottom: 100px;
	}
	.hero-warp {
		padding: 25px 20px 29px;
	}
	.about-text {
		margin-top: 40px;
	}
	.search-type label {
		margin-right: 5px;
	}
	.search-type .st-item input:checked+label {
		padding: 11px;
	}
	.search-input {
		display: block;
	}
	.search-input input,
	.search-input.si-v-2 input {
		width: 100%;
		padding: 0 20px;
		margin-bottom: 20px;
	}
	.section-title h2,
	.about-text h2 {
		font-size: 45px;
	}
	.loan-section {
		padding: 0 15px;
	}
	.loan-form {
		display: block;
		text-align: center;
		padding: 0 15px;
	}
	.loan-form input {
		margin-bottom: 30px;
	}
	.about-widget {
		border-right: none;
	}
	.about-widget .aw-text {
		max-width: 100%;
	}
	.footer-widger h2 {
		padding-top: 0;
	}
	.copyright {
		text-align: center;
	}
	.page-top-section {
		height: auto;
		padding-bottom: 80px;
	}
	.search-input.si-v-2 {
		margin-bottom: 0;
	}
	.search-input.si-v-2 .site-btn {
		margin: 0 25px 25px 0;
	}
	.search-results {
		padding: 55px 30px 90px;
	}
	.search-results .filter-btn li {
		margin-right: 10px;
	}
	.search-result-map {
		height: 500px;
	}
	.sidebar {
		padding-top: 50px;
	}
	.contact-text {
		padding-right: 0;
	}
	.sell-section {
		padding: 0 15px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.section-title h2,
	.about-text h2 {
		font-size: 38px;
	}
	.search-type label:after {
		display: none;
	}
	.section-title p {
		padding: 25px 0 10px;
	}
	.about-widget {
		margin-right: 0;
	}
	.site-btn.sb-big {
		padding: 21px 25px;
	}
	.search-results {
		padding: 55px 15px 90px;
	}
	.search-results .filter-btn li {
		margin-right: 0;
	}
	.property-info-bar {
		padding: 11px 15px 13px;
	}
	.loan-calculator {
		padding: 30px 15px 25px;
	}
	.contact-form {
		padding: 50px 20px;
	}
	.contact-form .site-btn {
		min-width: auto;
	}
}