<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper"> <!-- 사용할 맵퍼의 이름을 정해주고 이걸로 불러온다 -->

<!-- ResultMap -->

<resultMap id="FreeBoardResultSet" type="FBoard">
	<id property="fbId" column="FBID"/>
	<result property="fbTitle" column="F_BTITLE"/>
	<result property="fbWriter" column="F_BWRITER"/>
	<result property="fbContent" column="F_BCONTENT"/>
	<result property="fbCount" column="F_BCOUNT"/>
	<result property="fbCreatedate" column="FB_CREATE_DATE"/>
	<result property="fbModifydate" column="FB_MODIFY_DATE"/>
	<result property="fbType" column="FB_TYPE"/>
	<result property="fbStatus" column="FB_STATUS"/>
	<result property="Category" column="CATEGORY"/>
	<result property="Complain" column="COMPLAIN"/>
</resultMap>

<resultMap id="FreeReplyResultSet" type="FReply">
	<id property="frId" column="FRID"/>
	<result property="rContent" column="RCONTENT"/>
	<result property="reffbId" column="REF_FBID"/>
	<result property="frWriter" column="F_RWRITER"/>
	<result property="frCreateDate" column="FR_CREATE_DATE"/>
	<result property="frModifyDate" column="FR_MODIFY_DATE"/>
	<result property="frStatus" column="FR_STATUS"/>
</resultMap>

<!--  새로운 resultMap을설정해주고 mybites에 새로운 설정을 업데이트 해주지 않으면 상관없는 페이지라도 오류가 걸린다. -->




<!-- sqlSession -->

<select id="FreeListCount" resultType="_int">
	SELECT COUNT(*)
	FROM F_BOARD
	WHERE FB_STATUS='Y'
	<if test ="searchkey !=null and search != null">
		<if test ="searchkey == 'title'">
			AND F_BTITLE LIKE '%'||#{search}||'%'
		</if>
		<if test ="searchkey == 'writer'">
			AND F_BWRITER LIKE '%'||#{search}||'%'
		</if>
	</if>
</select>

<!--  ResultMap = 결과값이 객체일떄
	  parameterType = 들어오는 값 형태
 -->
<select id="selectFreeList" parameterType="map" resultMap="FreeBoardResultSet">
	SELECT *
	FROM F_BOARD
	WHERE FB_STATUS='Y'
	<if test ="searchkey !=null and search != null">
		<if test ="searchkey == 'title'">
			AND F_BTITLE LIKE '%'||#{search}||'%'
		</if>
		<if test ="searchkey == 'writer'">
			AND F_BWRITER LIKE '%'||#{search}||'%'
		</if>
	</if>
	
	ORDER BY FBID DESC
</select>

<insert id="FreeBoardInsert" parameterType="FBoard">
	INSERT INTO F_BOARD
	VALUES(SEQ_FBID.NEXTVAL,#{fbTitle},#{fbWriter},#{fbContent},0,SYSDATE,SYSDATE
	,#{fbType},'Y',#{Category},0)
</insert><!-- 틀리면 fbStatus를 'Y'로 넣어보자 -->

<select id="selectFreeBoard" resultMap="FreeBoardResultSet">
	SELECT *
	FROM F_BOARD
	WHERE FBID = #{fbId}
	AND FB_STATUS = 'Y'
	
</select>

<update id="updateCount" parameterType="_int">
	UPDATE F_BOARD
	SET F_BCOUNT = F_BCOUNT+1
	WHERE FBID = #{fbId} 
</update>

<select id="FreeReplyList" resultMap="FreeReplyResultSet">
	SELECT * 
	FROM F_REPLY
	WHERE F_RWRITER = #{frWriter}
	AND FR_STATUS = 'Y'
	ORDER BY FRID DESC
</select>

<insert id="insertFreeReply" parameterType="FReply">
	INSERT INTO F_REPLY VALUES
	(SEQ_FRID.NEXTVAL,#{rContent},#{reffbId},#{frWriter},SYSDATE,SYSDATE,'Y')
</insert>

<select id="selectFreeReplyList" resultMap="FreeReplyResultSet" >
	SELECT *
	FROM F_REPLY
	WHERE REF_FBID = #{fbId}
	AND FR_STATUS = 'Y'
	ORDER BY FRID ASC 
	
</select>

<!-- <select id="boardSearchListCount" resultType="_int">
	SELECT COUNT(*)
	FROM F_BOARD
	WHERE FB_STATUS='Y'
	
	<if test="boardWriter != null">
		AND F_BWRITER LIKE '%' || #{fbWriter} || '%'
	</if>
	
	
	<if test="boardtitle != null">
		AND F_BTITLE LIKE '%' || #{fbTitle} || '%'
	</if>
</select>

<select id="boardSearchList" resultMap="FreeBoardResultSet">
	SELECT *
	FROM F_BOARD
	WHERE FB_STATUS='Y'
	
	<if test="boardWriter != null">
		AND F_BWRITER LIKE '%' || #{fbWriter} || '%'
	</if>
	
	
	<if test="boardtitle != null">
		AND F_BTITLE LIKE '%' || #{fbTitle} || '%'
	</if>

</select> -->


<select id="FreeBoardUpdateView" resultMap="FreeBoardResultSet">
	SELECT *
	FROM F_BOARD
	WHERE FBID=#{fbId}
	AND FB_STATUS='Y'
</select>

<update id="FreeBoardDelete" parameterType="_int">
	UPDATE F_BOARD 
	SET FB_STATUS='N'
	WHERE FBID=#{fbId}
</update>

<update id="FreeBoardUpdate" parameterType="FBoard">
	UPDATE F_BOARD
	SET F_BTITLE=#{fbTitle},F_BCONTENT=#{fbContent},FB_MODIFY_DATE=#{fbModifydate}
	WHERE FBID=#{fbId}
</update>
	
</mapper>