<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="chart-mapper">
 	<resultMap type="HMember" id="HMemberResultMap">
 	<id property="hId" column="HID"/>
 	<result property="userId" column="USERID"/>
 	<result property="userPwd" column="USERPWD"/>
 	<result property="hCode" column="H_CODE"/>
 	<result property="hName" column="H_NAME"/>
 	<result property="hAddress" column="H_ADDRESS"/>
 	<result property="hPhone" column="H_PHONE"/>
 	<result property="hEmail" column="H_EMAIL"/>
 	<result property="hComment" column="H_COMMENT"/>
 	<result property="hFile" column="H_FILE"/>
 	<result property="hCreateDate" column="H_CREATE_DATE"/>
 	<result property="hModifyDate" column="H_MODIFY_DATE"/>
 	<result property="hStatus" column="H_STATUS"/>
 	</resultMap>
 	
 	
 	
 	<resultMap type="Doctor" id="DoctorResultMap">
 		<id property="dId" column="DOCID"/>
 		<result property="refHid" column="REF_H_ID"/>
 		<result property="docName" column="DOC_NAME"/>
 		<result property="docIntro" column="DOC_INTRO"/>
 		<result property="docFile" column="DIC_FILE"/>
 		<result property="docStatus" column="DOC_STATUS"/>
 	</resultMap>  
    
	<resultMap type="Pet" id="petResultMap">
		<id property="pid" column="PID"/>
		<result property="pCode" column="P_CODE"/>
		<result property="pName" column="P_NAME"/>
		<result property="ref_mid" column="REF_MID"/>
		<result property="pSpecies" column="P_SPECIES"/>
		<result property="breed" column="P_BREED"/>
		<result property="pGender" column="P_GENDER"/>
		<result property="pBirth" column="P_BIRTH"/>
		<result property="neutralYN" column="NEUTRAL"/>
		<result property="pUniqueness" column="P_UNIQUENESS"/>
		<result property="p_Create_Date" column="P_CREATE_DATE"/>
		<result property="p_Modify_Date" column="P_MODIFY_DATE"/>
		<result property="pStatus" column="P_STATUS"/>
		<result property="pWeight" column="P_WEIGHT"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
	<id property="mId" column="MID"/>
	<result property="userId" column="USERID"/>
	<result property="userPwd" column="USERPWD"/>
	<result property="userName" column="USERNAME"/>
	<result property="email" column="EMAIL"/>
	<result property="phone" column="PHONE"/>
	<result property="mCreateDate" column="M_CREATE_DATE"/>
	<result property="mModifyDate" column="M_MODIFY_DATE"/>
	<result property="mStatus" column="M_STATUS"/>
	</resultMap>
	
	<resultMap type="Diagnosis" id="diagnosisResultMap">
		<id property="dId" column="DID"/>
		<result property="dWriter" column="D_WRITER"/>
		<result property="pCode" column="REF_P_CODE"/>
		<result property="hId" column="REF_H_ID"/>
		<result property="docId" column="REF_DOC_ID"/>
		<result property="dDate" column="D_DATE"/>
		<result property="dContent" column="D_CONTENT"/>
		<result property="dUnique" column="D_UNIQUENESS"/>
		<result property="dStatus" column="D_STATUS"/>
	</resultMap>
    
    <resultMap type="Diagnosis" id="diagListMap">
    	<id property="dId" column="DID"/>
		<result property="dWriter" column="D_WRITER"/>
		<result property="pCode" column="REF_P_CODE"/>
		<result property="hId" column="REF_H_ID"/>
		<result property="docId" column="REF_DOC_ID"/>
		<result property="dDate" column="D_DATE"/>
		<result property="dContent" column="D_CONTENT"/>
		<result property="dUnique" column="D_UNIQUENESS"/>
		<result property="dStatus" column="D_STATUS"/>
		<result property="hName" column="HNAME"/>
    
    </resultMap>
    
    <select id="searchPet" resultMap="petResultMap">
    	SELECT P_NAME,P_CODE FROM PET
    	JOIN MEMBER ON (mId=REF_MID)
    	WHERE PHONE=#{phone}
    </select>
    
    <select id="petInfo" resultMap="petResultMap">
    	SELECT *
    	FROM PET
    	WHERE P_CODE = #{pCode}
    
    
    </select>
    
    <select id="memberInfo" resultMap="memberResultSet">
    	SELECT USERNAME
    	FROM MEMBER
    	WHERE PHONE=#{phone}
    
    </select>
    
    
    <select id="searchDiag" resultMap="diagnosisResultMap">
    	SELECT d.*, (SELECT DOC_NAME FROM DOCTOR h WHERE d.REF_DOC_ID=h.DOCID ) D_WRITER
    	FROM DIAGNOSIS d
    	WHERE REF_P_CODE=#{pCode}
    	ORDER BY D_DATE DESC
    
    
    </select>
    
     <select id="countDiag" resultType="_int">
    	SELECT count(*)
    	FROM DIAGNOSIS
    	WHERE REF_P_CODE=#{pCode}
    </select>
    
    
    
    
    <select id="diagList" resultMap="diagListMap">
 
    
    SELECT d.*, (SELECT H_NAME FROM HOSPITAL c WHERE d.REF_H_ID = c.hId) HNAME, (SELECT DOC_NAME FROM DOCTOR h WHERE d.REF_DOC_ID=h.DOCID ) D_WRITER
		FROM DIAGNOSIS d
		WHERE REF_P_CODE=#{pCode}
    
    </select>
    	
    
    
    </mapper>
    
    
    
    
    
    
    
    
    
    
    
    