<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="hospitalMapper">
 
 	<resultMap type="HMember" id="HospitalResultMap">
 	<id property="hId" column="HID"/>
 	<result property="userId" column="USERID"/>
 	<result property="userPwd" column="USERPWD"/>
 	<result property="hCode" column="H_CODE"/>
 	<result property="hName" column="H_NAME"/>
 	<result property="hAddress" column="H_ADDRESS"/>
 	<result property="hPhone" column="H_PHONE"/>
 	<result property="hEmail" column="H_EMAIL"/>
 	<result property="hComment" column="H_COMMENT"/>
 	<result property="hFile" column="H_FILE"/>
 	<result property="hCreateDate" column="H_CREATE_DATE"/>
 	<result property="hModifyDate" column="H_MODIFY_DATE"/>
 	<result property="hStatus" column="H_STATUS"/>

 	</resultMap>
 
 	<resultMap type="Doctor" id="doctorResultSet">
 		<id property="dId" column="DOCID"/>
 		<result property="refHid" column="REF_H_ID"/>
 		<result property="docName" column="DOC_NAME"/>
 		<result property="docIntro" column="DOC_INTRO"/>
 		<result property="docFile" column="DOC_FILE"/>
 		<result property="docStatus" column="DOC_STATUS"/>
 	</resultMap>
 	
 	<update id="hupdate" parameterType="HMember">
 		
 	</update>
 	
 	
 	<!-- 병원 계정 정보 변경 -->
 	<update id="hosupdate" parameterType="HMember">
 		UPDATE HOSPITAL 
 		SET USERPWD=#{userPwd},H_PHONE=#{hPhone},H_MODIFY_DATE=SYSDATE
		WHERE USERID=#{userId}
 	</update>
 	
 	<select id="insertdoctor" parameterType="DOCTOR">
 		SELECT * FROM DOCTOR
 		WHERE REF_H_ID=#{refHid} AND DOC_STATUS='Y'
 	</select>
 	
 	<!-- 병원 설명 등록 -->
 	<update id="updatehosinfo" parameterType="HMember">
 		UPDATE HOSPITAL
 		SET H_FILE=#{hFile}, H_COMMENT=#{hComment},H_ADDRESS=#{hAddress}
 		WHERE USERID=#{userId}
 	</update>
 	
 	<!-- 의사 등록 -->
 	<insert id="indoc" parameterType="Doctor">
 		INSERT INTO DOCTOR
 		VALUES(SEQ_DOCID.NEXTVAL,#{refHid},#{docName},#{docIntro},#{docFile},'Y')
 	</insert>
 	
 	<!-- 의사 삭제 -->
 	<update id="deleteDoc" >
 		UPDATE DOCTOR
 		SET DOC_STATUS='N'
 		WHERE DOCID=#{dId}
 	</update>
 
	<!-- 의사 수정 -->
	<update id="updateDoc">
		UPDATE DOCTOR
		SET DOC_NAME=#{docName},DOC_INTRO=#{docIntro},DOC_FILE=#{docFile}
		
		WHERE DOCID=#{dId}
	</update>
	
	<select id="doclist" resultMap="doctorResultSet">
		SELECT * FROM DOCTOR
		WHERE DOC_STATUS = 'Y' AND REF_H_ID = #{hId}
	
	</select>
	
	<select id="checkmail" resultType="String">
		SELECT USERID FROM HOSPITAL
		WHERE H_EMAIL=#{hEmail}
	</select>
	
	
	
	<select id="hpcheckPwd" resultType="_int">
		SELECT COUNT(*)
		FROM HOSPITAL
		WHERE USERID=#{userId}
		AND H_EMAIL=#{hEmail}
	</select>
	
	<update id="hospitalPwd" parameterType="HMember">
		UPDATE HOSPITAL
		SET USERPWD=#{userPwd}
		WHERE USERID=#{userId}
	</update>
	
	
 
 </mapper>