<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="hospitalMapper">
 
 	<resultMap type="HMember" id="HospitalResultMap">
 	<id property="hId" column="HID"/>
 	<result property="userId" column="USERID"/>
 	<result property="userPwd" column="USERPWD"/>
 	<result property="hCode" column="H_CODE"/>
 	<result property="hName" column="H_NAME"/>
 	<result property="hAddress" column="H_ADDRESS"/>
 	<result property="hPhone" column="H_PHONE"/>
 	<result property="hEmail" column="H_EMAIL"/>
 	<result property="hComment" column="H_COMMENT"/>
 	<result property="hFile" column="H_FILE"/>
 	<result property="hCreateDate" column="H_CREATE_DATE"/>
 	<result property="hModifyDate" column="H_MODIFY_DATE"/>
 	<result property="hStatus" column="H_STATUS"/>

 	</resultMap>
 
 	<resultMap type="hoReply" id="hoReplyResultSet">
		<id property="hrId" column="HRID"/>
		<result property="hrContent" column="RCONTENT"/>
		<result property="hrefBid" column="REF_HID"/>
		<result property="hrWriter" column="H_RWRITER"/>
		<result property="hrCreateDate" column="HR_CREATE_DATE"/>
		<result property="hrModifyDate" column="HR_MODIFY_DATE"/>
		<result property="hrStatus" column="HR_STATUS"/>
	</resultMap>
 
 	<resultMap type="Doctor" id="doctorResultSet">
 		<id property="dId" column="DOCID"/>
 		<result property="refHid" column="REF_H_ID"/>
 		<result property="docName" column="DOC_NAME"/>
 		<result property="docIntro" column="DOC_INTRO"/>
 		<result property="docFile" column="DOC_FILE"/>
 		<result property="docStatus" column="DOC_STATUS"/>
 	</resultMap>
 	
 	<update id="hupdate" parameterType="HMember">
 		
 	</update>
 	
 	
 	<!-- 병원 계정 정보 변경 -->
 	<update id="hosupdate" parameterType="HMember">
 		UPDATE HOSPITAL 
 		SET USERPWD=#{userPwd},H_PHONE=#{hPhone},H_MODIFY_DATE=SYSDATE
		WHERE USERID=#{userId}
 	</update>
 	
 	<!-- 병원 설명 등록 -->
 	<update id="updatehosinfo" parameterType="HMember">
 		UPDATE HOSPITAL
 		SET H_FILE=#{hFile}, H_COMMENT=#{hComment},H_ADDRESS=#{hAddress}
 		WHERE USERID=#{userId}
 	</update>
 	
 	<!-- 의사 등록 -->
 	<insert id="indoc" parameterType="Doctor">
 		INSERT INTO DOCTOR
 		VALUES(SEQ_DOCID.NEXTVAL,#{refHid},#{docName},#{docIntro},#{docFile},'Y')
 	</insert>
 	
 	
 	<!-- 댓글 리스트 불러오기 -->
 	<select id="selectReplyList" resultMap="hoReplyResultSet">
		SELECT *
		FROM H_REPLY
		WHERE REF_HID=#{hId}
		AND HR_STATUS='Y'
		ORDER BY RID DESC
	</select>
	
	<insert id="insertReply" parameterType="hoReply">
		INSERT INTO H_REPLY
		VALUES(SEQ_HRID.NEXTVAL,#{hrContent},#{hrefBid},#{hrWriter},SYSDATE,SYSDATE,NORMAL)
	</insert>
	
 
 </mapper>