<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="managerAskMapper">
 	<resultMap type="Qna" id="QnaResultMap">
 	<id property="qId" column="QID"/>
 	<result property="qWriter" column="QWRITER"/>
 	<result property="qTitle" column="QTITLE"/>
 	<result property="qContent" column="QCONTENT"/>
 	<result property="qFile" column="QFILE"/>
 	<result property="qDate" column="QDATE"/>
 	<result property="qStatus" column="QSTATUS"/>

 	<association property="qnaRe" javaType="QnaReply">
 		<id property="refQid" column="REF_QID"/>
 		<result property="aDate" column="A_DATE"/>
 		<result property="aContent" column="A_Content"/>
 		<result property="aStatus" column="A_Status"/>
 	</association>

 	</resultMap>
 	
 	<select id="getListcount" resultType="_int">
 	SELECT COUNT(*) FROM QNA
 	WHERE Q_STATUS ='Y'
 		
 	</select>
 	
	<select id = "getList" resultMap="QnaResultMap">
	SELECT * FROM QNA
	LEFT JOIN QNAANSWER ON (QID =REF_QID)
 	WHERE Q_STATUS ='Y'
 	ORDER BY QID DESC
	
	</select>
	<select id="getQna" resultMap="QnaResultMap">
	
	SELECT * FROM QNA
	LEFT JOIN QNAANSWER ON (QID =REF_QID)
 	WHERE Q_STATUS ='Y' and QID=#{qId}
	
	</select>

 </mapper>