<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="PetMapper">
	<resultMap type="Pet" id="petResultSet">
		<id property="pid" column="PID"/>
		<result property="pCode" column="P_CODE"/>
		<result property="pName" column="P_NAME"/>
		<result property="ref_mid" column="REF_MID"/>
		<result property="pSpecies" column="P_SPECIES"/>
		<result property="breed" column="P_BREED"/>
		<result property="pGender" column="P_GENDER"/>
		<result property="pBirth" column="P_BIRTH"/>
		<result property="neutralYN" column="NEUTRAL"/>
		<result property="pWeight" column="P_WEIGHT"/>
		<result property="pUniqueness" column="P_UNIQUENESS"/>
		<result property="p_Create_Date" column="P_CREATE_DATE"/>
		<result property="p_Modify_Date" column="P_MODIFY_DATE"/>
		<result property="pStatus" column="P_STATUS"/>
	</resultMap>

	<select id="selectMyPetList" resultMap="petResultSet" parameterType="_int">
		SELECT *
		FROM PET
		WHERE REF_MID=#{mId}
		AND P_STATUS='Y'
	</select>
	
	<insert id="insertPet" parameterType="Pet">
		INSERT INTO PET VALUES(SEQ_PID.NEXTVAL,#{pCode},#{pName},#{ref_mid},#{pSpecies},#{breed},#{pGender},
								#{pBirth},#{neutralYN},#{pWeight},#{pUniqueness},SYSDATE,SYSDATE,DEFAULT)
	</insert>

	<update id="updatePet" parameterType="Pet">
		UPDATE PET
		SET P_CODE=#{pCode},P_NAME=#{pName},P_BREED=#{breed},P_BIRTH=#{pBirth},NEUTRAL=#{neutralYN},P_MODIFY_DATE=DEFAULT
		<if test="pUniqueness != null">
    		,P_UNIQUENESS=#{pUniqueness}
  		</if>
  		WHERE PID=#{pid}
	</update>

	<update id="deletePet" parameterType="_int">
		UPDATE PET
		SET P_STATUS='N'
		WHERE PID=#{pid}
	</update>






</mapper>











   

