<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TipboardMapper">

	<resultMap id="TipBoardResultSet" type="TBoard">
		<id property="tbId" column="TBID" />
		<result property="tbTitle" column="T_BTITLE" />
		<result property="tbWriter" column="T_BWRITER" />
		<result property="tbContent" column="T_BCONTENT" />
		<result property="tbCount" column="T_BCOUNT" />
		<result property="tbCreateDate" column="TB_CREATE_DATE" />
		<result property="tbModifyDate" column="TB_MODIFY_DATE" />
		<result property="tbType" column="TB_TYPE" />
		<result property="tbCategory" column="CATEGORY" />
		<result property="tbStatus" column="TB_STATUS" />
		<result property="tbComplain" column="COMPLAIN" />


	</resultMap>

	<resultMap id="TipReplyResultSet" type="TReply">
		<id property="trId" column="TRID" />
		<result property="trContent" column="RCONTENT" />
		<result property="trreftbId" column="REF_TBID" />
		<result property="trWriter" column="T_RWRITER" />
		<result property="trCreateDate" column="TR_CREATE_DATE" />
		<result property="trModifyDate" column="TR_MODIFY_DATE" />
		<result property="trStatus" column="TR_STATUS" />
	</resultMap>


	<select id="DogBoardListCount" resultType="_int">
		SELECT COUNT(*)
		FROM T_BOARD
		WHERE TB_STATUS = 'Y'
		AND TB_TYPE = 'DOG'
		<if test="dsearchkey !=null and dsearch != null">
			<if test="dsearchkey == 'title'">
				AND T_BTITLE LIKE '%'||#{dsearch}||'%'
			</if>
			<if test="dsearchkey == 'writer'">
				AND T_BWRITER LIKE '%'||#{dsearch}||'%'
			</if>
		</if>
	</select>

	<select id="DogBoardList" resultMap="TipBoardResultSet">
		SELECT *
		FROM T_BOARD
		WHERE TB_STATUS = 'Y'
		AND TB_TYPE= 'DOG'
		<if test="dsearchkey !=null and dsearch != null">
			<if test="dsearchkey == 'title'">
				AND T_BTITLE LIKE '%'||#{dsearch}||'%'
			</if>
			<if test="dsearchkey == 'writer'">
				AND T_BWRITER LIKE '%'||#{dsearch}||'%'
			</if>
		</if>
		ORDER BY TBID DESC
	</select>




	<!-- 게시판 자세히 보기 -->
	<select id="DogBoardView" resultMap="TipBoardResultSet">
		SELECT *
		FROM T_BOARD
		WHERE
		TBID=#{tbId}
		AND TB_TYPE='DOG'
		AND TB_STATUS='Y'
	</select>

	<update id="DogBoardViewCount" parameterType="_int">
		UPDATE T_BOARD
		SET
		T_BCOUNT = T_BCOUNT +1
		WHERE TBID= #{tbId}
	</update>

	<!-- 게시판 글쓰기 -->
	<insert id="DogBoardWriter" parameterType="TBoard">
		INSERT INTO T_BOARD
		VALUES(SEQ_TBID.NEXTVAL,#{tbTitle},#{tbWriter},#{tbContent},0,SYSDATE,SYSDATE,'DOG',#{tbCategory},'Y',0)
	</insert>


	<!-- 게시판 댓글 관련 sql문 -->

	<insert id="DogBoardReply" parameterType="TReply">
		INSERT INTO T_REPLY
		VALUES
		(SEQ_TRID.NEXTVAL,#{trContent},#{trreftbId},#{trWriter},SYSDATE,SYSDATE,'Y')
	</insert>

	<select id="DogBoardReplyList" resultMap="TipBoardResultSet">
		SELECT *
		FROM T_REPLY
		WHERE REF_TBID=#{tbId}
		AND TR_STATUS='Y'
		ORDER BY TRID ASC
	</select>


	<select id="DogBoardUpdateView" resultMap="TipBoardResultSet">
		SELECT *
		FROM T_BOARD
		WHERE TBID=#{tbId}
		AND TB_STATUS='Y'
		AND TB_TYPE='DOG'

	</select>

	<update id="DogBoardUpdate" parameterType="TBoard">
		UPDATE T_BOARD
		SET
		T_BTITLE=#{tbTitle},T_BCONTENT=#{tbContent},TB_MODIFY_DATE=#{tbModifyDate}
		WHERE TBID=#{tbId}
	</update>

	<update id="DogBoardDelete" parameterType="_int">
		UPDATE T_BOARD
		SET
		TB_STATUS='N'
		WHERE TBID=#{tbId}
	</update>




	<!-- CAT BOARD 입니다. -->




	<select id="CatBoardListCount" resultType="_int">
		SELECT COUNT(*)
		FROM T_BOARD
		WHERE TB_STATUS = 'Y'
		AND TB_TYPE = 'CAT'
		<if test="csearchkey !=null and csearch != null">
			<if test="csearchkey == 'title'">
				AND T_BTITLE LIKE '%'||#{csearch}||'%'
			</if>
			<if test="csearchkey == 'writer'">
				AND T_BWRITER LIKE '%'||#{csearch}||'%'
			</if>
		</if>
	</select>

	<select id="CatBoardList" resultMap="TipBoardResultSet">
		SELECT *
		FROM T_BOARD
		WHERE TB_STATUS = 'Y'
		AND TB_TYPE= 'CAT'
		<if test="csearchkey !=null and csearch != null">
			<if test="csearchkey == 'title'">
				AND T_BTITLE LIKE '%'||#{csearch}||'%'
			</if>
			<if test="dsearchkey == 'writer'">
				AND T_BWRITER LIKE '%'||#{csearch}||'%'
			</if>
		</if>
		ORDER BY TBID DESC
	</select>
	
	<insert id="CatBoardWriter" parameterType="TBoard">
		INSERT INTO T_BOARD
		VALUES(SEQ_TBID.NEXTVAL,#{tbTitle},#{tbWriter},#{tbContent},0,SYSDATE,SYSDATE,'CAT',#{tbCategory},'Y',0)
	</insert> 

	<select id="CatBoardView" resultMap="TipBoardResultSet">
		SELECT *
		FROM T_BOARD
		WHERE
		TBID=#{tbId}
		AND TB_TYPE='CAT'
		AND TB_STATUS='Y'
	</select>
	
		<select id="CatBoardUpdateView" resultMap="TipBoardResultSet">
		SELECT *
		FROM T_BOARD
		WHERE TBID=#{tbId}
		AND TB_STATUS='Y'
		AND TB_TYPE='CAT'

	</select>

	<update id="CatBoardUpdate" parameterType="TBoard">
		UPDATE T_BOARD
		SET
		T_BTITLE=#{tbTitle},T_BCONTENT=#{tbContent},TB_MODIFY_DATE=#{tbModifyDate}
		WHERE TBID=#{tbId}
	</update>
	
	<update id="CatBoardDelete" parameterType="_int">
		UPDATE T_BOARD
		SET
		TB_STATUS='N'
		WHERE TBID=#{tbId}
	</update>

	<insert id="CatBoardReply" parameterType="TReply">
		INSERT INTO T_REPLY
		VALUES
		(SEQ_TRID.NEXTVAL,#{trContent},#{trreftbId},#{trWriter},SYSDATE,SYSDATE,'Y')
		
	</insert>

























</mapper>