<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- typeAliases -->
	<typeAliases>
		<typeAlias type="com.ohdogcat.odc.homepage.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.ohdogcat.odc.homepage.member.model.vo.HMember" alias="HMember"/>
		<typeAlias type="com.ohdogcat.odc.board.model.vo.FreeBoard" alias="FBoard"/>
		<typeAlias type="com.ohdogcat.odc.board.model.vo.FreeReply" alias="FReply"/>
		<typeAlias type="com.ohdogcat.odc.hospital.model.vo.hoReply" alias="hoReply"/>
		<typeAlias type="com.ohdogcat.odc.hospital.model.vo.Doctor" alias="Doctor"/>
		<typeAlias type="com.ohdogcat.odc.hospital.model.vo.Diagnosis" alias="Diagnosis"/>
		<typeAlias type="com.ohdogcat.odc.pet.model.vo.Pet" alias="Pet"/>
		<typeAlias type="com.ohdogcat.odc.qna.model.vo.Qna" alias="Qna"/>
		<typeAlias alias="QnaReply" type="com.ohdogcat.odc.qna.model.vo.QnaReply"/>
		<typeAlias type="com.ohdogcat.odc.manager.Notice.model.vo.Notice" alias="Notice"/>
		
	</typeAliases>
	
	<!-- mappers -->
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/hmember-mapper.xml"/>
		<mapper resource="mappers/hmanager-mapper.xml"/>
		<mapper resource="mappers/hospital-mapper.xml"/>
		<mapper resource="mappers/chart-mapper.xml"/>
		<mapper resource="mappers/manageMember-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/member-mapper2.xml"/>
		<mapper resource="mappers/pet-mapper.xml"/>
		<mapper resource="mappers/qna-mapper.xml"/>
		<mapper resource="mappers/hospitalsearch-mapper.xml"/>
		<mapper resource="mappers/managerAsk-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
	</mappers>
	
	
	
</configuration>
